.cabecalho__container {

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 208px;
    height: 88px; 
    justify-content: space-between;
    padding: 0px;
    width: 1136px;

}
