
.projetos__botoes__repositorio {

    align-items: center;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 51px;
    justify-content: center;
    padding: 16px;
    width: 116px;

}

.botao__repositorio {
    
    border: none;
    color: #2A7AE4;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    height: 19px;
    margin: 0px;
    padding: 0px;
    width: 88px;

}





