.apresentacao__container {
    
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 38px;
    height: 368px;
    justify-content: space-between;
    padding: 0px;
    width: 1136px;

}
